
div.workflow-content-container{
	border: 1px solid lightgray;
    margin: 10px 0px 50px 0;
    border-radius: 10px;
    padding: 10px;
    background-color: #f1f1f1;
}

div.workflow-content{
    background-color: #dad9d9;
    padding: 15px;
    border-radius: 5px;
    padding-bottom: 50px;
    position: relative;
}

div.workflow-content div.workflow-step-button-bar, div.workflow-content-record div.workflow-step-button-bar{
	background-color: white;
    padding: 6px;
    position: absolute;
    bottom: 5px;
    left: 15px;
    right: 15px;
    margin: 5px 0;
}
