<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" ng-app="iflowApp" >
    <head>
    
		<title tiles:fragment="title" th:text="#{site.title}"></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="UTF-8">

		<link rel="shortcut icon" th:href="@{/images/icon.png}">

		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

		<link th:href="@{/css/login.css}" rel="stylesheet" />

		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
    	
    </head>
    <body ng-controller="LoginController">
 	 
	    <div class="login-container-parent" layout="row" layout-align="center center">
	      <div class="login-container">
	        <div class="login-photo"></div>
	        
	        <div class="login-form-container">
		        <form action="/auth/login" method="POST" style="margin: 0;">

					<div class="form-group">
					    <label for="username" th:text="#{common.username}"></label>
					    <input class="form-control" id="username"  type="text" name="username" th:value="${username}">
					</div>
  		        
					<div class="form-group">
					    <label for="password" th:text="#{common.password}"></label>
					    <input class="form-control" id="password"  type="password" name="password" th:value="${password}">
					</div>
  		        
		        	<div class="form-group">
			            <button class="btn btn-primary" th:text="#{common.login}"></button>
		        	</div> 
  		        
		        	<div class="" th:if="${hasError}">
			            <div class="alert alert-danger" role="alert" th:text="${logginMessage}"></div>
		        	</div> 
		        	
		        	<input type="hidden" name="returnUrl" th:value="${returnUrl}">

					<li th:if="${isFailed}" id="errors">
						<span style="color: red;">Login Failed</span>
					</li>

		        </form>
	        
	        </div>
	
	        
	
	      </div>
	    </div>
		
        
    </body>
</html>
