Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
/.mvn/wrapper/
/gui/src/main/resources/static/scripts/
/gui/src/main/java/com/pth/gui/models/gui/Person.java
