<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" ng-app="iflowApp" >
    <head>
    	<th:block th:include="layout/mainLayout :: pageheader" />
		<script th:src="@{/js/workflow/invoice/workflow-create.js}"></script>
		<link th:href="@{/css/table.css}" rel="stylesheet" />
		<link th:href="@{/css/workflow-create-invoice.css}" rel="stylesheet" />
		
		
    </head>
    <body ng-controller="BodyController">
        <header th:replace="layout/mainLayout :: header" ></header>
        <div th:replace="layout/mainLayout :: breadcrumb" ></div>
		
		<div class="content-container" ng-controller="WorkflowCreateController">
			<div class="page-toolbar">
				<div class="page-title" th:text="#{invoice-assignview-title}"></div>
				<a class="toolbar-link" href="/workflow/list"><i class="material-icons">list</i></a>
				<button class="toolbar-button" ng-click="reload();"><i class="material-icons">refresh</i></button>
			</div>
		
			<div class="workflow-content-container">
				<div class="workflow-content">
					<form id="workflow-form" name="workflowForm">
						<div class="panel panel-default">
							<div class="panel-heading" th:text="#{invoice-invoice}"></div>
							<div class="panel-body">
								<div class="item-row" ng-show="true">
									<div class="item-label label-required label-large" th:text="#{invoice-sender}"></div>
									<div class="item-content large-content">
										<input type="text" required name="sender" ng-model="workflowCreateRequest.workflow.sender" >
									</div>
									<div class="item-label small-label" th:text="#{invoice-trusted}"></div>
									<div class="item-content small-content">
										<input type="checkbox"  >
									</div>
									<div class="clear"></div>
								</div>
								<div class="item-row" ng-show="true">
									<div class="item-label label-required label-large" th:text="#{invoice-invoicenumber}"></div>
									<div class="item-content large-content" >
										<input type="text" required name="registerNumber" ng-model="workflowCreateRequest.workflow.registerNumber" >
									</div>
									<div  class="item-label label-required small-label" th:text="#{invoice-invoicedate}"></div>
									<div class="item-content small-content">
										<input type="text" required name="invoceDate" class="select-date" ng-model="workflowCreateRequest.workflow.invoceDate" >
									</div>
									<div class="clear"></div>
									<div class="clear"></div>
								</div>
								<div class="item-row" ng-show="true">
									<div class="item-label label-required label-large" th:text="#{invoice-paymentamount}"></div>
									<div class="item-content large-content" >
										<input type="text" required name="paymentAmount" ng-model="workflowCreateRequest.workflow.paymentAmount" >
									</div>
									<div class="item-label label-required small-label" th:text="#{invoice-invoicetype}"></div>
									<div class="item-content small-content">
										<select required name="invoiceType" ng-model="workflowCreateRequest.workflow.invoiceType" >
											<option th:each="invoiceType : ${invoiceTypes}" th:value="${invoiceType.key}" th:text="${invoiceType.value}"></option>
										</select>
									</div>
									<div class="clear"></div>
								</div>
						
							</div>
						</div>
						
						<div class="twopannel">
							<div class="panel panel-default panel-vendor">
								<div class="panel-heading" th:text="#{invoice-vendor}"></div>
								<div class="panel-body">
							
												
									<div class="item-row" ng-show="true">
										<div class="item-label label-required label-large" th:text="#{invoice-vendornumber}"></div>
										<div class="item-content fullrowfromlabel">
											<input type="text" required name="vendorNumber" ng-model="workflowCreateRequest.workflow.vendorNumber" >
										</div>
										<div class="clear"></div>
									</div>
									<div class="item-row" ng-show="true">
										<div class="item-label label-required label-large" th:text="#{invoice-partnercode}"></div>
										<div class="item-content fullrowfromlabel">
											<input type="text" required name="partnerCode" ng-model="workflowCreateRequest.workflow.partnerCode" >
										</div>
										<div class="clear"></div>
									</div>					
									<div class="item-row" ng-show="true">
										<div class="item-label label-required label-large" th:text="#{invoice-vendorname}"></div>
										<div class="item-content fullrowfromlabel">
											<input type="text" required name="vendorName" ng-model="workflowCreateRequest.workflow.vendorName" >
										</div>
										<div class="clear"></div>
									</div>
									<div class="item-row" ng-show="true">
										<div class="item-label label-required label-large" th:text="#{invoice-isdirectdebitpermission}"></div>
										<div class="item-content fullrowfromlabel">
											<input type="checkbox" name="isDirectDebitPermission" ng-model="workflowCreateRequest.workflow.isDirectDebitPermission" ng-checked="workflowCreateRequest.workflow.isDirectDebitPermission == 1" >
										</div>
										<div class="clear"></div>
									</div>
							
								</div>
							</div>
		
		
							<div class="panel panel-default panel-discount">
								<div class="panel-heading" th:text="#{invoice-discount}"></div>
								<div class="panel-body">
							
									<div class="item-row" ng-show="true">
										<div class="item-label label-required small-label" th:text="#{invoice-discountenterdate-short}"></div>
										<div class="item-content">
											<input type="text" required name="discountEnterDate" class="select-date" ng-model="workflowCreateRequest.workflow.discountEnterDate" >
										</div>
										<div class="clear"></div>
									</div>
									<div class="item-row" ng-show="true">
										<div class="item-label label-required small-label" th:text="#{invoice-discountrate-short}"></div>
										<div class="item-content">
											<input type="text" required name="discountRate" class="" ng-model="workflowCreateRequest.workflow.discountRate" > %
										</div>
										<div class="clear"></div>
									</div>
									<div class="item-row" ng-show="true">
										<div class="item-label label-required small-label" th:text="#{invoice-discountdeadline-short}"></div>
										<div class="item-content">
											<input type="text" required name="discountDeadline" class="" ng-model="workflowCreateRequest.workflow.discountDeadline" > <span th:text="#{common.days}"></span>
										</div>
										<div class="clear"></div>
									</div>
									<div class="item-row" ng-show="true">
										<div class="item-label label-required small-label" th:text="#{invoice-discountdate}"></div>
										<div class="item-content">
											<input type="text" required name="discountDate" class="select-date" ng-model="workflowCreateRequest.workflow.discountDate" >
										</div>
										<div class="clear"></div>
									</div>
							
								</div>
							</div>						
						</div>
					
						<div class="item-row" ng-if="workflowCreateRequest.workflow.workflowType.isAssignTypeOffering">
							<div class="item-label label-required label-large" th:text="#{workflow-assignto}"></div>
							<div class="item-content fullrowfromlabel">
								<div class="assign-list" >
									<button class="show-select-dialog" data-toggle="modal" data-target="#assignlistdialog"><i class="material-icons">playlist_add</i></button>
									<span ng-if="hasNoAssigns()" th:text="#{workflow-select-assign}"></span>
									<div class="user-item-box" ng-repeat="item in workflowCreateRequest.assigns">
										<span>{{item.title}} </span>
										<button ng-click="removeAssign(item.itemIdentity, item.itemType)"><i class="material-icons">close</i></button>
									</div>
									<div class="clear"></div>
								</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="item-row">
							<div class="item-label label-required label-large" th:text="#{workflow-controller}"></div>
							<div class="item-content fullrowfromlabel">
								<select required name="controller" type="text" ng-model="workflowCreateRequest.workflow.controllerIdentity">
									<option th:text="#{workflow-select-controller}" value="0"></option>
									<option ng-repeat="item in users" ng-value="item.identity">{{item.fullName}}</option>
								</select>
							</div>
							<div class="clear"></div>
						</div>
	
						
						<div class="item-row">
							<div class="item-label label-large" th:text="#{workflow-comments}"></div>
							<div class="item-content fullrowfromlabel">
								<textarea class="comments-fullrow" ng-model="workflow.activeAction.comments"></textarea>
							</div>
							<div class="clear"></div>
						</div>
	
	
						<div class="item-row">
							
							<div class="workflow-step-button-bar">
								<button type="button" ng-click="save()" ng-disabled="workflowForm.$valid === false" class="button-bar-button step-button button-save">
									<span th:text="#{common.create}"></span>
									<i class="material-icons">save</i>
								</button>
								<div class="clear"></div>
							</div>
							
							
						</div>
					</form>
				</div>
				<div class="clear"></div>
				<hr>
				<div >
					{{workflowCreateRequest.workflow}}
				</div>
				<hr>
			</div>
		    		 
		    <div class="modal fade" tabindex="-1" id="assignlistdialog" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title dialog-title" id="exampleModalLongTitle" th:text="#{workflow-select-assign}"></h5>
				        <button class="dialog-toolbar-button close"  data-dismiss="modal" aria-label="Close">
				        	<i class="material-icons">close</i>
				        </button>
				      </div>
				      <div class="modal-body">
							<ul class="nav nav-tabs">
							  <li class="active"><a data-toggle="tab" class="nav-link active" href="#tabusers" th:text="#{common.users}"></a></li>
							  <li><a data-toggle="tab" class="nav-link" href="#tabdepartments" th:text="#{common.departments}"></a></li>
							</ul>
							<div class="tab-content tab-body">
								<div id="tabusers" class="tab-pane fade in active">
									<ul class="list-item-container">
										<li ng-repeat="item in users" class="list-item">
											<input data-assigntitle="{{item.fullName}}" type="checkbox" class="assign-checkbox" ng-checked="isItemAssigned(item.identity, 'user')" data-assigntype="user" ng-value="item.identity"/> 
											&nbsp; &nbsp; 
											{{item.fullName}}										
										</li>
									</ul>
								</div>
								<div id="tabdepartments" class="tab-pane fade">
									<ul class="list-item-container">
										<li ng-repeat="dep in departments" class="list-item">
											<input type="checkbox" data-assigntitle="{{dep.title}}" class="assign-checkbox" ng-checked="isItemAssigned(dep.identity, 'department')" data-assigntype="department" ng-value="dep.identity"/> 
											&nbsp; &nbsp; 
											{{dep.title}}	
											<ul class="list-item-container">
												<li ng-repeat="depgrp in dep.departmentGroups" class="list-item">
													<input type="checkbox" class="assign-checkbox" data-assigntitle="{{depgrp.title}}" ng-checked="isItemAssigned(depgrp.identity, 'departmentgroup')" data-assigntype="departmentgroup" ng-value="depgrp.identity"/> 
													&nbsp; &nbsp; 
													{{depgrp.title}}										
												</li>
											</ul>									
										</li>
									</ul>
								
								</div>
							</div>
				      
		    				
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="material-icons">close</i></button>
				        <button type="button" class="btn btn-primary" ng-click="applyUserSelect();"><i class="material-icons">check</i></button>
				      </div>
				    </div>
				  </div>		    
		    	
		    </div>
		
		    		    
		    <script th:inline="javascript">
				var loadUrl = "/workflow/invoice/data/initcreate";
				var saveUrl = "/workflow/invoice/data/create";
				var saveFileUrl = "/workflow/invoice/data/createfile";
				var listUrl = "/workflow/list";
				
				var userAssignType = /*[[${UserAssign}]]*/ '';
				var departmentAssignType = /*[[${DepartmentAssign}]]*/ '';
				var departmentGroupAssignType = /*[[${DepartmentGroupAssign}]]*/ '';
				
		    </script>
		
		</div>
		
        <div th:replace="layout/message_panel :: message_panel" ></div>
		
        <footer th:replace="layout/footer :: footer" ></footer>
    </body>
</html>
