
		<div class="content-container">
			<div class="page-toolbar">
				<div class="page-title">{{ pageTitle }}</div>
				<a class="toolbar-link" [routerLink]="['/workflow/list']"><i class="material-icons">list</i></a>
				<button class="toolbar-button" (click)="reload();"><i class="material-icons">refresh</i></button>
				
			</div>
			
			<div class="workflow-content-container">
				<div class="workflow-content">
					<form id="workflow-form" name="workflowForm" [formGroup]="invoiceEditForm">
						<div class="panel panel-default">
							<div class="panel-heading">{{ 'invoice-invoice' | translate }}</div>
							<div class="panel-body">
								<div class="item-row">
									<div class="item-label label-required label-large">{{ 'invoice-sender' | translate }}</div>
									<div class="item-content large-content">
										<input type="text" required name="sender" formControlName="sender" >
									</div>
									<div class="item-label small-label">{{ 'invoice-trusted' | translate }}</div>
									<div class="item-content small-content">
										<input type="checkbox"  >
									</div>
									<div class="clear"></div>
								</div>
								<div class="item-row">
									<div class="item-label label-required label-large">{{ 'invoice-invoicenumber' | translate }}</div>
									<div class="item-content large-content" >
										<input type="text" required name="registerNumber" formControlName="registerNumber" >
									</div>
									<div  class="item-label label-required small-label">{{ 'invoice-invoicedate' | translate }}</div>
									<div class="item-content small-content">									
										<input required class="select-date" (change)="invoiceDateChanges()" (dateInput)="invoiceDateChanges()" matInput [matDatepicker]="invocieDatepicker" placeholder="{{ 'invoice-invoicedate-select' | translate }}" formControlName="invocieDate" >
										<mat-datepicker-toggle matSuffix [for]="invocieDatepicker"></mat-datepicker-toggle>
										<mat-datepicker #invocieDatepicker startView="month" [startAt]="invoiceEditForm.controls.invocieDate.value"></mat-datepicker>										
									</div>
									<div class="clear"></div>
									<div class="clear"></div>
								</div>
								<div class="item-row">
									<div class="item-label label-required label-large">{{ paymentamountTitle }}</div>
									<div class="item-content large-content" >
										<input type="number" required name="paymentAmount" formControlName="paymentAmount" >
									</div>
									<div class="item-label label-required small-label">{{ 'invoice-invoicetype' | translate }}</div>
									<div class="item-content small-content">
										<select required name="invoiceType" formControlName="invoiceType" [ngClass]="{'ng-invalid' : invoiceEditForm.controls.invoiceType.errors}" >
											<option *ngFor="let invoiceType of invoiceTypes;" value="{{invoiceType.value}}">{{invoiceType.title}}</option>
										</select>
									</div>
									<div class="clear"></div>
								</div>
						
							</div>
						</div>
						
						<div class="twopannel">
							<div class="panel panel-1 panel-default panel-twopannelleft">
								<div class="panel-heading">{{ 'invoice-vendor' | translate }}</div>
								<div class="panel-body">
							
												
									<div class="item-row">
										<div class="item-label label-required label-large">{{ 'invoice-vendornumber' | translate }}</div>
										<div class="item-content fullrowfromlabel">
											<input type="text" required name="vendorNumber" formControlName="vendorNumber" >
										</div>
										<div class="clear"></div>
									</div>
									<div class="item-row">
										<div class="item-label label-required label-large">{{ 'invoice-partnercode' | translate }}</div>
										<div class="item-content fullrowfromlabel">
											<input type="text" required name="partnerCode" formControlName="partnerCode" >
										</div>
										<div class="clear"></div>
									</div>					
									<div class="item-row">
										<div class="item-label label-required label-large">{{ 'invoice-vendorname' | translate }}</div>
										<div class="item-content fullrowfromlabel">
											<input type="text" required name="vendorName" formControlName="vendorName" >
										</div>
										<div class="clear"></div>
									</div>
									<div class="item-row">
										<div class="item-label label-required label-large">{{ 'invoice-isdirectdebitpermission' | translate }}</div>
										<div class="item-content fullrowfromlabel">
											<input type="checkbox" name="isDirectDebitPermission" formControlName="isDirectDebitPermission" [checked]="forms.isDirectDebitPermission.value" >
										</div>
										<div class="clear"></div>
									</div>
							
								</div>
							</div>
		
		
							<div class="panel panel-1 panel-default panel-twopannelright" *ngIf="isPaymentInvoiceType() === false">
								<div class="panel-heading">{{ 'invoice-discount' | translate }}</div>
								<div class="panel-body">
							
									<div class="item-row">
										<div class="item-label label-required small-label">{{ 'invoice-discountenterdate-short' | translate }}</div>
										<div class="item-content">
											<input required class="select-date" matInput (change)="calcDiscountDate()" (dateInput)="calcDiscountDate()" [matDatepicker]="discountEnterDatepicker" placeholder="{{ 'invoice-discountenterdate' | translate }}" formControlName="discountEnterDate" >
											<mat-datepicker-toggle matSuffix [for]="discountEnterDatepicker"></mat-datepicker-toggle>
											<mat-datepicker #discountEnterDatepicker startView="month" [startAt]="invoiceEditForm.controls.discountEnterDate.value"></mat-datepicker>										
										</div>
										<div class="clear"></div>
									</div>
									<div class="item-row">
										<div class="item-label label-required small-label">{{ 'invoice-discountrate-short' | translate }}</div>
										<div class="item-content">
											<input type="number" required name="discountRate" class="short-input" formControlName="discountRate" > %
										</div>
										<div class="clear"></div>
									</div>
									<div class="item-row">
										<div class="item-label label-required small-label">{{ 'invoice-discountdeadline-short' | translate }}</div>
										<div class="item-content">
											<input type="number" required name="discountDeadline" (change)="calcDiscountDate()" class="short-input" formControlName="discountDeadline" > <span>{{ 'common.days' | translate }}</span>
										</div>
										<div class="clear"></div>
									</div>
									<div class="item-row">
										<div class="item-label label-required small-label">{{ 'invoice-discountdate' | translate }}</div>
										<div class="item-content">
											<input required class="select-date" readonly placeholder="{{ 'invoice-discountdate' | translate }}" formControlName="discountDate" >
										</div>
										<div class="clear"></div>
									</div>
							
								</div>
							</div>	
							
							<div class="clear"></div>					
						</div>
					
						<div class="twopannel">
							<div class="panel panel-2 panel-default panel-twopannelleft">
								<div class="panel-body">				
									
									<div class="item-row">
										<div class="item-label label-large">{{ 'workflow-comments' | translate }}</div>
										<div class="item-content fullrowfromlabel">
											<textarea class="comments-fullrow wm-comments-textarea" formControlName="comments"></textarea>
										</div>
										<div class="clear"></div>
									</div>
									<div class="item-row">
										<div class="item-label label-large">{{ 'workflow-assignto' | translate }}</div>
										<div class="item-content fullrowfromlabel">
											<app-wm-assign-list [users]="(generalDataObs | async)?.company.users" 
												[departments]="(generalDataObs | async)?.company.departments" [assignedUsers]="assignedUsers" 
												(onSelectedAssignChanged)="onUsersSelected($event)">
												</app-wm-assign-list>
										</div>
										<div class="clear"></div>
									</div>
								
								</div>
							</div>
							
							<div class="panel panel-2 panel-default panel-twopannelright">
							
								<app-wm-file-upload [ocrScanningEnabled]="true" [editService]="editService" 
									(onOcrUploadedFile)="onOcrUploadedFile($event)" (onUploadedFilesChanged)="onUploadedFilesChanged($event)" 
									(onShowUploadedFileScannDetail)="onShowUploadedFileScannDetail($event)" ></app-wm-file-upload>
								
							</div>
							
							<div class="clear"></div>	
						</div>
						<div class="workflow-step-button-bar">
							<button type="button" (click)="save()" [disabled]="invoiceEditForm.invalid" class="button-bar-button step-button button-save">
								<span>{{ 'common.create' | translate }}</span>
								<i class="material-icons">save</i>
							</button>
							<div class="clear"></div>
						</div>
					</form>
				</div>
				<div class="clear"></div>
				
			</div>	    		 		
		
		</div>

		<div class="modal fade show" tabindex="-1" *ngIf="showOcrDetailsDialog" role="dialog" id="scanneddetailsdialog">
			<div class="modal-dialog scanned-details-dialog" role="document">
				<div class="modal-header">
			 		<h5 class="modal-title">{{ 'common.scann-document-result' | translate }}</h5>
					<button type="button" class="close" (click)="hideOcrDetails()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>			
				<div class="modal-body">
					<app-invoice-ocr-detail [foundWords]="getOcrWords()" [scanedPdfPath]="scanningFile.scanedPdfPath" 
						[scanedHocrPath]="scanningFile.scanedHocrPath" [fileIsPdf]="scanningFile.fileIsPdf" 
						[fileIsImage]="scanningFile.fileIsImage" [imageSizeX]="scanningFile.imageSizeX" [imageSizeY]="scanningFile.imageSizeY" 
						[(editedValues)]="scannedSelectedValues" [ocrPresetList]="ocrSettingPresets" 
						(selectedOcrPresetChanged)="selectedOcrPresetChanged($event)" >
					</app-invoice-ocr-detail>
				</div>	
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" (click)="onApplyScannedValues()">{{ 'common.apply' | translate }}</button>
					<button type="button" class="btn btn-secondary" (click)="hideOcrDetails()">{{ 'common.close' | translate }}</button>
				</div>						
			</div>
		</div>

		
