
div.workflow-content div.item-row, div.workflow-content-record div.item-row {
    margin: 5px 0 10px;
}

div.workflow-content div.item-row div.item-label, div.workflow-content-record div.item-row div.item-label{
    float: left;
    padding-right: 10px;
    padding-left: 2px;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    width: 130px;
}

div.workflow-content div.item-row div.item-content, div.workflow-content-record div.item-row div.item-content {
    float: left;
    
    padding-left: 0px;
    width: calc(100% - 135px);
}

div.workflow-content div.item-row div.item-content input:not(.file-item), 
div.workflow-content div.item-row div.item-content select,
div.workflow-content-record div.item-row div.item-content input, 
div.workflow-content-record div.item-row div.item-content select
{
    width: 100%;
    height: 26px;
}

div.workflow-content div.item-row div.item-content input.file-title
{
    width: calc(50% - 170px);
    height: 26px;
}

div.workflow-content div.item-row div.item-content input.file-file
{
    width: 50%;
    height: 26px;
    display: inline-block;;
}

button.file-action {
    float: right;
    width: 22px;
    border: none;
    padding: 0;
    padding-left: 2px;
    margin-top: 4px;
    background: transparent;
}
