
	<div class="assign-list" >
		<button class="show-select-dialog" (click)="showAssignSelect()"><i class="material-icons">playlist_add</i></button>
		<span *ngIf="hasNoAssigns">{{ 'workflow-select-assign' | translate }}</span>
		<div class="user-item-box" *ngFor="let item of assignedUsers">
			<span>{{getAssignItemTitle(item)}} </span>
			<button (click)="removeAssign(item.itemIdentity, item.itemType)"><i class="material-icons">close</i></button>
		</div>
		<div class="clear"></div>
	</div>

	<app-select-user [users]="users" [departments]="departments" [showAssignModal]="showAssignModal" [selectAssign]="selectAssign" 
		(onUsersSelected)="onUsersSelected($event)"></app-select-user>		    		 		
						