		<div class="content-container">
			<div class="page-toolbar">
				<div class="page-title">{{ 'workflow-editing' | translate }}</div>
				<a class="toolbar-link" [routerLink]="['/workflow/list']"><i class="material-icons">list</i></a>
			</div>
			
			<form id="workflow-form" name="workflowForm" [formGroup]="workflowEditForm">
				<div class="workflow-content-container expanded">
					<div class="workflow-content">
						<div class="item-row" *ngIf="canAssign">
							<div class="item-label">{{ 'workflow-assignto' | translate }}</div>
							<div class="item-content">
								<app-wm-assign-list [users]="(generalDataObs | async)?.company.users" 
								[departments]="(generalDataObs | async)?.company.departments" [assignedUsers]="assignedUsers" 
								(onSelectedAssignChanged)="onUsersSelected($event)">
								</app-wm-assign-list>
							</div>
							<div class="clear"></div>
						</div>
						<div class="item-row">
							<div class="item-label">{{ 'workflow-comments' | translate }}</div>
							<div class="item-content">
								<textarea formControlName="comments" class="wm-comments-textarea"></textarea>
							</div>
							<div class="clear"></div>
						</div>
						<div class="item-row">
							<div class="item-label">{{ 'common.attachments' | translate }}</div>
							<div class="item-content">
								<app-wm-file-upload [ocrScanningEnabled]="false" [editService]="editService" [showHeaderTitle]="false" 
									(onUploadedFilesChanged)="onUploadedFilesChanged($event)" [uploadedFiles]="uploadedFiles" [drawBorder]="true" > 
								</app-wm-file-upload>
	
							</div>
							<div class="clear"></div>
						</div>
		
						<div class="workflow-step-button-bar">
							<button type="button" (click)="save(false)" *ngIf="canSave" [disabled]="workflowEditForm.invalid" class="button-bar-button step-button button-save">
								<span>{{ 'common.save' | translate }}</span>
								<i class="material-icons">save</i>
							</button>
							<button type="button" (click)="save(true)" *ngIf="canDone" [disabled]="workflowEditForm.invalid" class="button-bar-button step-button button-done">
								<span>{{ 'common.savedone' | translate }}</span>
								<i class="material-icons">save</i>
							</button>
							<button type="button" (click)="archive()" *ngIf="canArchive" [disabled]="workflowEditForm.invalid" class="button-bar-button step-button button-archive">
								<span>{{ 'workflow-archive' | translate }}</span>
								<i class="material-icons">save</i>
							</button>
							<span *ngIf="saveMessage !== ''" class="alert alert-success button-bar-alert">{{saveMessage}}</span>
							<div class="clear"></div>
						</div>
						        				
						<div class="item-row" [innerHTML]="debugData"></div>
					</div>
					<div class="workflow-record">
						<div class="workflow-record-toolbar">
							<button type="button" class="workflow-pannel-collapse-button" (click)="collapseRecordPanel()"><i class="material-icons">keyboard_arrow_right</i></button>
							<button type="button" class="workflow-pannel-expand-button" (click)="expandRecordPanel()"><i class="material-icons">keyboard_arrow_left</i></button>
						</div>
						<app-workflow-inlineview [workflow]="viewWorkflowModel"></app-workflow-inlineview>
					</div>
					<div class="clear"></div>
				</div>
		    </form>

		    		 		
		</div>