
div.workflowview-dialog-content-container div.item-row {
    padding: 5px 0;
}

div.workflowview-dialog-content-container div.item-label {
    float: left;
    padding-right: 10px;
    padding-left: 2px;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    width: 130px;
}

div.workflowview-dialog-content-container div.item-content {
    float: left;
    padding-left: 0px;
    width: calc(100% - 135px);
}

