
		<div th:if="${isLogged}" th:fragment="message_panel">
			<div ng-controller="WorkflowMessageController">
				<div resizable r-directions="['top']" class="message-panel-container" id="message-panel-container">
					<div class="message-panel-toolbar">
						<span class="title" th:text="#{common.messages}"></span>
						<button class="toolbar-button" ng-if="messagePanelShowed" ng-click="closeMessages();"><i class="material-icons">keyboard_arrow_down</i></button>
						<button class="toolbar-button" ng-if="messagePanelShowed == false" ng-click="showMessages();"><i class="material-icons">keyboard_arrow_up</i></button>
						<button class="toolbar-button" ng-if="messagePanelShowed" ng-click="reloadMessages(true);"><i class="material-icons">refresh</i></button>
					
					</div>
					<div class="message-panel-items-container">
						<div class="message-panel-item"  ng-repeat="message in messages">
							<a href="javascript:void(0);" ng-click="showWorkflowView(message.workflowId)">
								<div>{{message.message}} ({{message.workflow.workflowType.title}}) ({{message.createdAtString}}) ({{message.remainingDays}}) ({{message.status}})</div>
							</a>
						</div>
					</div>
					<script type="text/javascript">
					var loadMessageUrl = "/general/data/workflowmessages";
					var assignWorkflowUrl = "/workflow/data/assignworkflow/";
					
					</script>
					
				</div>
				
				<div th:replace="workflow/dialogs/view_dialog :: viewWorkflow" ></div>
					
				
			</div>
			<div th:replace="layout/mainLayout :: errorMessageDialog" ></div>

		</div>
        