<!DOCTYPE html>
<html lang="en">
  <head>
    <title>'site.title'</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
     
    <link rel="shortcut icon" href="/assets/images/logo2.png">
        
	<base href="/" />

    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
  <body>		
    <app-root></app-root>
  <script src="/scripts/runtime-es2015.js" type="module"></script><script src="/scripts/runtime-es5.js" nomodule defer></script><script src="/scripts/polyfills-es5.js" nomodule defer></script><script src="/scripts/polyfills-es2015.js" type="module"></script><script src="/scripts/styles-es2015.js" type="module"></script><script src="/scripts/styles-es5.js" nomodule defer></script><script src="/scripts/scripts.js" defer></script><script src="/scripts/vendor-es2015.js" type="module"></script><script src="/scripts/vendor-es5.js" nomodule defer></script><script src="/scripts/main-es2015.js" type="module"></script><script src="/scripts/main-es5.js" nomodule defer></script></body>
</html>
