
table {
  width: 100%;
  background: #ffffff;
  margin-top: 30px;
}

table a.tool-link {
    color: #828282;
    cursor: pointer;
}

.mat-header-cell {
    color: white;
    font-size: 16px;
    font-weight: notmal;
}

.mat-cell, .mat-footer-cell {
    color: #0f0f0f;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    border: 1px solid #d7d5d5;
    text-align: center;
}

th.mat-header-cell {
    border: 1px solid #acaaaa;
    text-align: center;
}

.mat-header-row{
	background-color: #374373;
}

.mat-row{
	height: 40px;
}

.mat-row:nth-child(odd){
	background-color: #fff;
}

.mat-row:nth-child(even){
	background-color: #f2f2f2;
}

.mat-row:hover{
	background-color: #feffec;
}


.search-toolbar {
    width: calc(100% - 350px);
    float: right;
    padding-top: 8px;
}

.search-toolbar .nav-item{
    margin-right: 30px;

}

.search-toolbar .nav-item input.form-check-input[type=checkbox]{
    width: 16px;
    height: 16px;

}

.search-toolbar .nav-item .form-check-label{
	margin-bottom: 0;
    padding-left: 10px;
    line-height: 20px;
}

.search-toolbar-item{
	height: 100%;
    padding-top: 9px;
    margin-left: 20px;
}

.search-toolbar .nav-item {
    background-color: transparent !important;
}

.search-toolbar .nav-link.active, .search-toolbar .show>.nav-link {
    color: #fff !important;
    background-color: #c7c9cb !important;
}

.table-striped{

}

.table-striped thead{
	background-color: #c1c4c4;
}

.table-striped thead tr th, .table-striped thead tr td{
	border: 2px solid #dee2e6;
	padding: 4px 6px;
}

.table-striped th, .table-striped td{
	border: 2px solid #dee2e6;
	padding: 4px 6px;
}

.table-striped tbody tr{
	border: 2px solid #dee2e6;
}

.table-striped tbody tr:hove{
	background-color: #dff7ff;
}

.page-toolbar .toolbar-link{
  color: white;
}
