
.navbar-item {
    float: right;
    margin-right: 30px;
}

button.user-toggle-button {
    border: none;
    width: 170px;
    text-align: left;
    height: 34px;
    color: white;
    position: relative;
    background-color: #0169be;
}


button.user-toggle-button i.material-icons {
    font-size: 22px;
    margin-right: 5px;
    float: left;
}

.navbar-nav a.nav-link{
	color: white;
	font-size: 14px;
}

.iflow-navbar .dropdown-menu{
	background: #0169be;
  color: white;
  margin: 0;
  padding: 0;
  padding-top: 5px;
}

.iflow-navbar .dropdown-menu:hover{
	background: #0169be;
  color: #ffffd7;
}

.iflow-navbar .dropdown-item{
	color: white;
	width: 220px !important;
	background: #0169be;
  padding: 2px 5px;
  display: inline-block;
}

.iflow-navbar .navbar-item .dropdown-item{
  padding: 5px 10px 5px;
  margin-bottom: 2px;
  display: block;
  text-decoration: none;
}

.iflow-navbar .dropdown-item:hover, .iflow-navbar li.nav-item:hover{
	background: #285f8f;
	color: #ffffd7;
	text-decoration: none;
}

.navbar-nav a.nav-link:hover{
	color: #ffffd7;
}

.navbar {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

ul.navbar-nav{
	display: block !important;
	float: left;
	width: calc(100% - 380px);
	padding-left: 10px;
}

ul.navbar-nav li.nav-item {
    display: block !important;
    float: left;
    margin: 0 5px;
    padding: 3px 5px;
}

div.iflow-navbar-bar{
	background: #0169be;
	color: white;
}

.navbar-logo
{
  height: 36px;
  float: left;
  margin-left: 20px;
}

a.navbar-brand{
	color: black;
}

a.navbar-brand:hover{
	color: black;
}

span.logo-title{
	font-size: 22px;
	float: left;
	margin-left: 20px;
	color: white;
}

.navbar-image{
	height: 20px;
	margin-left: 5px;
	float: right;
}

.navbar-item-text{
	float: left;
}

.user-button i, .user-button span{
  float: left;
  margin: 0 3px;
}
